# Submitted By: Reham ElTagoury
# Group: 5

## Task 1 - SQL

### Build SparkSession:

In [1]:
import findspark
findspark.init()

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:

spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

21/10/07 03:15:11 WARN Utils: Your hostname, ubuntu resolves to a loopback address: 127.0.1.1; using 192.168.130.131 instead (on interface ens33)
21/10/07 03:15:11 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.1.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/10/07 03:15:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/10/07 03:15:24 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
21/10/07 03:15:24 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
21/10/07 03:15:24 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [5]:
spark = SparkSession.builder.appName('SparkSQL').enableHiveSupport().getOrCreate()

### Read the json file:

In [6]:
JSON_PATH='DataFrames_sample.json'
df=spark.read.json(JSON_PATH)
df.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
| 8.0|20.3|  1TB SSD|  4|       iMac|64GB|       27"| 25.6|  20.8|2017|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Display the schema:

In [7]:
df.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Get all the data when "Model" equal "MacBook Pro":

In [8]:
df[df['Model']=='MacBook Pro'].show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create TempView:

In [9]:
df.createOrReplaceTempView("datatable")

### Display "RAM"column and count "RAM" column:

In [10]:
from pyspark.sql.functions import *

In [12]:
spark.sql(""" select  RAM ,count(RAM) 
from datatable
group by RAM
""").show()

+----+----------+
| RAM|count(RAM)|
+----+----------+
|64GB|         1|
|16GB|         1|
| 8GB|         2|
+----+----------+

### Get all columns when "Year" column equal "2015"

In [13]:
spark.sql(""" select  * 
from datatable 
where Year =='2015'
""").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [14]:
spark.sql(""" select  * 
from datatable 
where Model LIKE 'M%'
""").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [15]:
spark.sql(""" select  * 
from datatable 
where Model == 'MacBook Pro'
""").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [16]:
spark.sql(""" select  * 
from datatable 
where RAM == '8GB' and Model =='MacBook'
""").show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [17]:
spark.sql(""" select  * 
from datatable 
where D >= '8' and Model =='iMac'
""").show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [18]:
DATA_NAME='test1.csv'
df1=(spark.read.format('csv')
    .option('header','true')
    .load(DATA_NAME)
)
df1.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [19]:
df1.createOrReplaceTempView("test1_tbl")

### Display Salary of the people less than or equal to 20000

In [20]:
spark.sql("""
Select * from test1_tbl where Salary <=20000
""").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [21]:
spark.sql("""
Select * from test1_tbl where Salary <=20000 and Salary >=15000
""").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

## Task 3

### Read "test3" dataset:

In [22]:
DATA_NAME='test3.csv'
df2=spark.read.csv(DATA_NAME, header=True, inferSchema=True)

### Display dataset

In [23]:
df2.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [24]:
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [25]:
df2.groupby('Name').agg({"Name":"count"}).withColumnRenamed("count(Name)", "Sum_Name").show(5)

+---------+--------+
|     Name|Sum_Name|
+---------+--------+
|Sudhanshu|       3|
|    Sunny|       2|
|    Krish|       3|
|   Mahesh|       2|
+---------+--------+

In [26]:
df2.count()

10

### Group by "Name" column and using avg function on "Name" column

In [27]:
df2.createOrReplaceTempView("df_tbl")
df2_query=spark.sql("select Name,count(Name)/10 as Avg_Name from df_tbl group by Name ")
df2_query.show()

+---------+--------+
|     Name|Avg_Name|
+---------+--------+
|Sudhanshu|     0.3|
|    Sunny|     0.2|
|    Krish|     0.3|
|   Mahesh|     0.2|
+---------+--------+

### Group by "Departments" column and using mean function on "Departments" column:

In [109]:
df2.groupby('Departments').agg({"Departments":"count"}).withColumnRenamed("count(Departments)", "Departments_sum").show()

+------------+---------------+
| Departments|Departments_sum|
+------------+---------------+
|         IOT|              2|
|    Big Data|              4|
|Data Science|              4|
+------------+---------------+

In [28]:
spark.sql("select Departments,count(Departments)/10 as Departments_mean from df_tbl group by Departments ").show()

+------------+----------------+
| Departments|Departments_mean|
+------------+----------------+
|         IOT|             0.2|
|    Big Data|             0.4|
|Data Science|             0.4|
+------------+----------------+

Group by "Departments" column and using count function on "Departments" column:

In [95]:
df2.groupby('Departments').agg({"Departments":"count"}).withColumnRenamed("count(Departments)", "Departments_count").show()

+------------+-----------------+
| Departments|Departments_count|
+------------+-----------------+
|         IOT|                2|
|    Big Data|                4|
|Data Science|                4|
+------------+-----------------+

In [99]:
spark.sql("select Departments,count(Departments) as Departments_count from df_tbl group by Departments ").show()

+------------+-----------------+
| Departments|Departments_count|
+------------+-----------------+
|         IOT|                2|
|    Big Data|                4|
|Data Science|                4|
+------------+-----------------+

### Apply agg to using sum function get the total of salaries

In [29]:
df2.select('salary').agg({"salary":"sum"}).withColumnRenamed("sum(salary)", "salary_sum").show()

+----------+
|salary_sum|
+----------+
|     73000|
+----------+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [63]:
DATA_NAME='ITI_data.csv'
df3=spark.read.csv(DATA_NAME, header=True, inferSchema=True)
df3.show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 20 rows

In [64]:
train,test=df3.randomSplit([.8,.2],seed=0)
train.show()

+-------------+----------------+---+-----------------+----------+------+------+-----------------+-----+
|    Ship_name|     Cruise_line|Age|          Tonnage|passengers|length|cabins|passenger_density| crew|
+-------------+----------------+---+-----------------+----------+------+------+-----------------+-----+
|    Adventure| Royal_Caribbean| 12|            138.0|     31.14|  10.2| 15.57|            44.32|11.85|
|      Allegra|           Costa| 21|            28.43|      8.08|  6.16|   4.1|            35.19|  4.0|
|    Amsterdam|Holland_American| 13|             61.0|      13.8|   7.8|  6.88|             44.2|  6.0|
|      Arcadia|             P&O|  9|             85.0|     19.68|  9.35|  9.84|            43.19| 8.69|
|        Aries|            Star| 22|            3.341|      0.66|   2.8|  0.33|            50.62| 0.59|
|      Armonia|             MSC| 12|             58.6|     15.66|  8.24|  7.83|            37.42|  7.0|
|      Artemis|             P&O| 29|             45.0|     11.78|  7.54|   5.3|             38.2|  5.2|
|    Atlantica|           Costa| 13|           85.619|     21.14|  9.57| 10.56|             40.5|  9.2|
|       Aurora|             P&O| 13|             76.0|     18.74|  8.86|  9.39|            40.55|  8.5|
|   Brilliance| Royal_Caribbean| 11|            90.09|     25.01|  9.62|  10.5|            36.02| 8.48|
|    Caribbean|        Princess|  9|            116.0|      26.0|  9.51|  13.0|            44.62| 11.0|
|  Celebration|        Carnival| 26|           47.262|     14.86|  7.22|  7.43|             31.8|  6.7|
|      Century|       Celebrity| 18|70.60600000000001|      17.7|  8.15|  8.75|            39.89| 8.58|
|     Classica|           Costa| 22|           52.926|     13.02|  7.18|  6.54|            40.65| 6.17|
|        Cloud|       Silversea| 19|             16.8|      2.96|  5.14|  1.48|            56.76|  2.1|
|     Conquest|        Carnival| 11|            110.0|     29.74|  9.53| 14.88|            36.99| 19.1|
|Constellation|       Celebrity| 11|             91.0|     20.32|  9.65|  9.75|            44.78| 9.99|
|        Coral|        Princess| 11|91.62700000000001|     19.74|  9.64|  9.87|            46.42|  9.0|
|        Crown|       Norwegian| 25|            34.25|     10.52|  6.15|  5.26|            32.56|  4.7|
|        Crown|        Princess|  7|            116.0|      31.0|  9.51| 15.57|            37.42| 12.0|
+-------------+----------------+---+-----------------+----------+------+------+-----------------+-----+
only showing top 20 rows

### OneHotEncoder

In [65]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml.feature import VectorAssembler
import numpy
train.dtypes

[('Ship_name', 'string'),
 ('Cruise_line', 'string'),
 ('Age', 'int'),
 ('Tonnage', 'double'),
 ('passengers', 'double'),
 ('length', 'double'),
 ('cabins', 'double'),
 ('passenger_density', 'double'),
 ('crew', 'double')]

In [66]:
categoricalCols = [field for (field, dataType) in train.dtypes
                   if dataType == "string"]
categoricalCols.remove('Ship_name')
categoricalCols

['Cruise_line']

In [67]:
indexOutputCols = [x + "_Index" for x in categoricalCols]
indexOutputCols

['Cruise_line_Index']

In [68]:
oheOutputCols = [x + "_OHE" for x in categoricalCols]
oheOutputCols

['Cruise_line_OHE']

In [69]:
stringIndexer = StringIndexer(inputCols=categoricalCols,
                             outputCols=indexOutputCols,
                             handleInvalid='skip')
oheEncoder = OneHotEncoder(inputCols=indexOutputCols,
                          outputCols=oheOutputCols)

In [70]:
numericCols = [field for (field,dataType) in train.dtypes
              if (((dataType=='double')or(dataType=='int')) & (field!='crew'))]
numericCols

['Age', 'Tonnage', 'passengers', 'length', 'cabins', 'passenger_density']

###Use VectorAssembler to merge all columns into one column:

In [71]:
vecAssembler = VectorAssembler(inputCols=oheOutputCols+numericCols,outputCol='features')

### Create a Linear Regression Model

In [72]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(labelCol='crew',featuresCol='features')

### Creating a Pipeline

In [73]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages=[stringIndexer,oheEncoder,vecAssembler,lr])

In [74]:
pipelineModel = pipeline.fit(train)

21/10/07 03:30:51 WARN Instrumentation: [bc2106cd] regParam is zero, which might cause numerical instability and overfitting.

In [75]:
predDF = pipelineModel.transform(test)

### Model Evaluation

In [76]:
from pyspark.ml.evaluation import RegressionEvaluator
regressionEvaluator = RegressionEvaluator(predictionCol='prediction',
                                         labelCol='crew',
                                         metricName='rmse')
rmse = regressionEvaluator.evaluate(predDF)

print(f"RMSE is {rmse:.1f}")

RMSE is 0.7

In [77]:
# Using R^2
r2 = RegressionEvaluator(predictionCol='prediction',
                                         labelCol='crew',
                                         metricName='r2').evaluate(predDF)
print(f"R2 is {r2}")

R2 is 0.9527682330125713

By Eng. Mostafa Nabieh 
If you have questions, please feel free to ask.

My Email : nabieh.mostafa@yahoo.com

My Whatsapp : +201015197566